<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dist/css/flat-ui.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico">
  </head>
  <body>
<div class="container">

<h1>在线维护与报修中心</h1>
<hr />
<div class="row ">


  <h3>欢迎 , <%= nickname%> , 现在值班人员一共 位,</h3><br>
  <p></p>
</div>

</body>
</html>
