<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>404 Not Found</title>
<meta http-equiv="refresh" content="3;url=/">
<style>
html{margin:0;height:100%;}
h1{font:120px/400px '\5FAE\8F6F\96C5\9ED1';width:960px;color:#AAA;text-shadow:0 0 1px;text-align:center;position:absolute;top:50%;left:50%;margin:-230px 0 0 -480px;}
</style>
</head>
<body>
<h1>出错了！</h1>
</div>
</body>
</html>
