<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dist/css/flat-ui.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico">
  </head>
  <body>




    <div class="container">
  <h1>在线维护与报修中心</h1><br />
  <p>简要介绍 Bootstrap，以及如何下载、使用，还有基本模版和案例，等等。
简要介绍 Bootstrap，以及如何下载、使用，还有基本模版和案例，等等。
简要介绍 Bootstrap，以及如何下载、使用，还有基本模版和案例，等等。简要介绍 Bootstrap，以及如何下载、使用，还有基本模版和案例，等等。</p>

  <br />







      <div class="row demo-tiles">
        <div class="col-xs-3">
          <div class="tile">
            <img src="1.jpg" alt="Compas" class="tile-image big-illustration">
            <h3 class="tile-title">在线保修</h3>
            <p>随时随刻,在线保修</p>
            <a class="btn btn-block btn-lg btn-danger" href="#submit">我要报修</a>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="tile">
            <img src="1.jpg" alt="Infinity-Loop" class="tile-image">
            <h3 class="tile-title">进度查询</h3>
            <p>随时关注,进度进展</p>
            <a class="btn btn-block btn-lg btn-success" href="#token">查看进度</a>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="tile">
            <img src="1.jpg" alt="Pensils" class="tile-image">
            <h3 class="tile-title">在线支持</h3>
            <p>网络在线,技术支持 </p>
            <a class="btn btn-block btn-lg btn-info" href="#chat">进入支持</a>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="tile tile-hot">
            <img src="1.jpg" alt="Chat" class="tile-image">
            <h3 class="tile-title">维修技巧</h3>
            <p>自己诊断,简单处理</p>
            <a class="btn btn-block btn-lg btn-inverse" href="#login">查看更多</a>
          </div>

        </div>
      </div>
<a name="submit"></a>
<br />
<hr />
<h3> <span class="fui-new"></span> 在线保修</h3>
<br />
<div class="row">
  <form method="post" action="/submit">
<div class="col-xs-2">
  具体表现 :
</div>
<div class="col-xs-6">
  <input type="text" placeholder="请填写电脑不能上网的情况" class="form-control" name="title"/>
</div>
</div>
<br />
<div class="row">
  <div class="col-xs-2">
    保修地址 :
  </div>
<div class="col-xs-6">
  <input type="text" placeholder="请输入详细地址" class="form-control" name="address"/>
</div>
</div>
<br />
<div class="row">
  <div class="col-xs-2">
    上网账号 :
  </div>
  <div class="col-xs-3">
  <input type="text" placeholder="请输入认证账号" class="form-control" name="number"/>
  </div>

  <div class="col-xs-2">
     原因:
  </div>
<div class="col-xs-3">
  <input type="text" placeholder="自己判断可能的原因(可空)" class="form-control" name="reason"/><br />
</div>
</div>


<div class="row">
  <div class="col-xs-2">
    姓名 :
  </div>
<div class="col-xs-3">
  <input type="text" placeholder="请输入姓名" class="form-control" name="student_name"/>
</div>
<div class="col-xs-2">
  电话 :
</div>
<div class="col-xs-3">
<input type="text" placeholder="请输入移动电话(重要)" class="form-control" name="phone"/>
</div>
</div>

<br />
<div class="row">
<div class="col-xs-6">
  <button class="btn btn-embossed btn-primary" type="submit">
  确认提交
</button>
</div>
</form>
</div>
<a name="token"></a>
<br /><br />
<hr />
<h3> <span class="fui-eye"></span> 进度查询</h3>
<br />
<div class="row">
  <form action="token" method="get">
  <div class="col-xs-2">
    填写查询码 :
  </div>
<div class="col-xs-6">
  <input type="text" placeholder="请输入您在提交保修时显示的查询码" class="form-control" name="uid" />
</div>
<div class="col-xs-2">
<button class="btn btn-embossed btn-primary" type="submit">
查询
</button>
</div>
</form>
</div>

<a name="chat"></a>
<br /><br />
<hr />
<h3><span class="fui-bubble"></span> 在线支持</h3>
<br />
<div class="row">
  <form action="chat" method="post">
  <div class="col-xs-2">
    填写昵称 :
  </div>
<div class="col-xs-6">
  <input type="text" placeholder="填写昵称/建议使用真实姓名" class="form-control" name="nickname"/>
</div>
<div class="col-xs-2">
<button class="btn btn-embossed btn-primary">
进入聊天室
</button>
</div>
</form>
</div>
<a name="login"></a>
<br /><br />
<hr />
<h3><span class="fui-list-columned"></span> 维修技巧</h3>
<div class="row">
  <div class="list-group">
    <!-- <a href="#" class="list-group-item">Dapibus ac facilisis in</a> -->

    <% if (tips.length) { %>
    <% tips.forEach(function(tip){ %>
      <a href='tips/<%= tip['uid'] %>' class="list-group-item"><%= tip['title'] %></a>
    <% }) %>
<% } %>


  </div>



</div>
    </div> <!-- /container -->


<br /><br /><br />
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-7">
            <h3 class="footer-title">关注我们</h3>
            <p>请你不要再迷恋哥 哥只是一个传说
虽然我 舍不得 可是我 还是要说
你不要再迷恋我 我只是一个传说
我 不曾寂寞 因为有你曾陪着我
            </p>
          </div> <!-- /col-xs-7 -->

          <div class="col-xs-5">
            <div class="footer-banner" style="min-height: auto;">
              <h3 class="footer-title">友情链接</h3>
              <ul>
                <li><a  href="#">聊城大学教务处</a></li>
                <li><a  href="#">聊城大学网络中心</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="/dist/js/vendor/jquery.min.js"></script>
    <script src="/dist/js/vendor/video.js"></script>
    <script src="/dist/js/flat-ui.min.js"></script>
  </body>
</html>
