<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dist/css/flat-ui.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico">
  </head>
  <body>
<div class="container">

<h1>在线维护与报修中心</h1>
<hr />
<h3>欢迎登陆</h3>
<div class="row">
  <form action="login" method="post">
<br />
        <div class="col-xs-4">
                <div class="login-form">
                  <div class="control-group">
                    <input type="text" value="" placeholder="用户名" class="form-control" name="username" />
                    <label class="login-field-icon fui-user" for="login-name"></label>
                  </div>

                  <div class="control-group">
                    <input type="text" value="" placeholder="密码" class="form-control" name="password"/>
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                  </div>

                  <!-- <a class="btn btn-primary btn-large btn-block" href="#" >进入后台</a> -->
                  <button class="btn btn-primary btn-large btn-block" type="submit">
                  进入后台
                  </button>

                  <a class="login-link" href="#">忘记密码 ? </a>
                </div>
              </div>
</form>
      </div>

</body>
</html>
