<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dist/css/flat-ui.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico">
  </head>
  <body>
<div class="container">

<h1>在线维护与报修中心</h1><br />
<hr />
<div class="row ">


  <h3><%= tip['title']%></h3>
  发布时间:<%= tip['time']%><br>
  <p><%- tip['content']%></p>
</div>

</body>
</html>
