
<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dist/css/flat-ui.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico">
  </head>
  <body>
<div class="container">

<h1>在线维护与报修中心</h1><br />
<hr />
<div class="row ">
  <h3> <span class="fui-heart"></span> 建议把此链接保存书签 </h3><br>
  <div class="col-xs-2">
    具体表现 :
  </div>
  <div class="col-xs-6">
    <%= result['title']%>
  </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-2">
      保修地址 :
    </div>
  <div class="col-xs-6">
    <%= result['address']%>
  </div>
  </div>
  <br />

  <div class="row">
    <div class="col-xs-2">
      姓名 :
    </div>
    <div class="col-xs-3">
    <%= result['student_name']%>
    </div>

    <div class="col-xs-2">
       联系方式:
    </div>
  <div class="col-xs-3">
    <%= result['phone']%>
  </div>

  </div>
<br />
  <div class="row">
    <div class="col-xs-2">
      上网账号 :
    </div>
    <div class="col-xs-3">
    <%= result['number']%>
    </div>

    <div class="col-xs-2">
       原因:
    </div>
  <div class="col-xs-3">
    <%= result['result']%>
  </div>

</div>
<br />
<div class="row">
  <div class="col-xs-2">
    完成者 :
  </div>
  <div class="col-xs-3">
  <%= result['finish_name']%>
  </div>

  <div class="col-xs-2">
     进度:
  </div>
<div class="col-xs-3">
  <%= result['progress']%>
</div>

</div>

<br />
<div class="row">
  <div class="col-xs-2">
    保修时间 :
  </div>
  <div class="col-xs-3">
  <%= result['time']%>
  </div>

  <div class="col-xs-2">
     完成时间:
  </div>
<div class="col-xs-3">
  <%= result['finish_time']%>
</div>

</div>

</body>
</html>
