<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dist/css/flat-ui.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico">
  </head>
  <body>
<div class="container">

<h1>在线维护与报修中心</h1>
<hr />
<h3>欢迎 , <div class="btn-group">
                  <a class="btn btn-primary active" href="/user/index">修网任务<span class="fui-time"></span></a>
                  <a class="btn btn-primary" href="/chat">进入支持<span class="fui-photo"></span></a>
                  <a class="btn btn-primary" href="/user/tips/write">记录技巧<span class="fui-heart"></span></a>
                  <a class="btn btn-primary " href="/user/setting">设置<span class="fui-eye"></span></a>
                  <a class="btn btn-primary " href="../logout">退出系统<span class="fui-eye"></span></a>
                </div></h3>
                <br />
<div class="row">
  <!-- <div class="tabbable"> 
     <ul class="nav nav-tabs  nav-tabs-google">
         <li class="active"><a href="#notfinish" data-toggle="tab"> 未完成</a></li>
         <li class=""><a href="#all" data-toggle="tab">全部</a></li>
         <li class=""><a href="#finish" data-toggle="tab">已完成</a></li>
     </ul>
<br />

<div class="tab-content">
    <div class="tab-pane active" id="notfinish">

      <div class="list-group">

        <% if (notfinishs.length) { %>
        <% notfinishs.forEach(function(notfinish){ %>
          <a href='details/<%= notfinish['uid'] %>' class="list-group-item"><%= notfinish['title'] %></a>
        <% }) %>
    <% } %>

      </div>

    </div>
    <div class="tab-pane active" id="all">
      <div class="list-group">

        <% if (alls.length) { %>
        <% alls.forEach(function(all){ %>
          <a href='details/<%= all['uid'] %>' class="list-group-item"><%= all['title'] %></a>
        <% }) %>
    <% } %>

      </div>
    </div>
    <div class="tab-pane active" id="finish">
      <div class="list-group">

        <% if (finishs.length) { %>
        <% finishs.forEach(function(finish){ %>
          <a href='details/<%= finish['uid'] %>' class="list-group-item"><%= finish['title'] %></a>
        <% }) %>
    <% } %>

      </div>
    </div>
</div>
</div> -->







</div>
</div>
<script src="/dist/js/vendor/jquery.min.js"></script>
<script src="/dist/js/vendor/video.js"></script>
<script src="/dist/js/flat-ui.min.js"></script>
</body>
</html>
