<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dist/css/flat-ui.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico">
  </head>
  <body>
<div class="container">
<!-- <textarea id="editor" placeholder="Balabala" autofocus></textarea> -->
<h1>在线维护与报修中心</h1>
<hr />
<h3>欢迎 , <div class="btn-group">
  <a class="btn btn-primary active" href="/user/index">修网任务<span class="fui-time"></span></a>
  <a class="btn btn-primary" href="/chat">进入支持<span class="fui-photo"></span></a>
  <a class="btn btn-primary" href="/user/tips/write">记录技巧<span class="fui-heart"></span></a>
  <a class="btn btn-primary " href="/user/setting">设置<span class="fui-eye"></span></a>
  <a class="btn btn-primary " href="../logout">退出系统<span class="fui-eye"></span></a>
                </div></h3>
<br />
<hr />
  <h3> <span class="fui-new"></span> 设置</h3>
  <br />
  <div class="row">
  <div class="col-xs-2">
    <button class="btn btn-embossed btn-primary">
  点击更新 Token
</button>
  </div>
  <div class="col-xs-8">你当前的 Token 为
<span id="token"><%= token %></span>
  </div>
  </div>

  <br /><br /><hr />
<h3> <span class="fui-new"></span> 设置</h3>
  <br />
  <div class="row">
    <div class="col-xs-2">
      密码 :
    </div>
    <div class="col-xs-3">
    <input type="text" placeholder="请输入认证账号" class="form-control" name="number"/>
    </div>

    <div class="col-xs-2">
       确认密码:
    </div>
  <div class="col-xs-3">
    <input type="text" placeholder="自己判断可能的原因(可空)" class="form-control" name="reason"/><br />
  </div>
  </div>

  <br /><hr /><h3> <span class="fui-new"></span> 设置</h3>  <br />
  <div class="row">
    <div class="col-xs-2">
      昵称 :
    </div>
  <div class="col-xs-3">
    <input type="text" placeholder="请输入详细地址" class="form-control" name="address"/>
  </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-2">
      密码 :
    </div>
    <div class="col-xs-3">
    <input type="text" placeholder="请输入认证账号" class="form-control" name="number"/>
    </div>

    <div class="col-xs-2">
       确认密码:
    </div>
  <div class="col-xs-3">
    <input type="text" placeholder="自己判断可能的原因(可空)" class="form-control" name="reason"/><br />
  </div>
  </div>


  <div class="row">
    <div class="col-xs-2">
      电话 :
    </div>
  <div class="col-xs-3">
    <input type="text" placeholder="请输入姓名" class="form-control" name="student_name"/>
  </div>
  <div class="col-xs-2">
     QQ :
  </div>
  <div class="col-xs-3">
  <input type="text" placeholder="请输入移动电话(重要)" class="form-control" name="phone"/>
  </div>
  </div>
  <br />

  <div class="row">
    <div class="col-xs-2">
      宿舍 :
    </div>
  <div class="col-xs-3">
    <input type="text" placeholder="请输入姓名" class="form-control" name="student_name"/>
  </div>
  <div class="col-xs-2">
     班级 :
  </div>
  <div class="col-xs-3">
  <input type="text" placeholder="请输入移动电话(重要)" class="form-control" name="phone"/>
  </div>
  </div><br />
  <div class="row">
    <div class="col-xs-2">
      家乡 :
    </div>
  <div class="col-xs-6">
    <input type="text" placeholder="请输入姓名" class="form-control" name="student_name"/>
  </div>
  </div>


  <br />
  <div class="row">
  <div class="col-xs-6">
    <button class="btn btn-embossed btn-primary" type="submit">
    确认更新
  </button>
  </div>
  </div>

<hr />
  <h3> <span class="fui-new"></span> 添加管理员</h3>
  <br />
  <div class="row">
    <div class="col-xs-2">
      昵称 :
    </div>
  <div class="col-xs-3">
    <input type="text" placeholder="请输入详细地址" class="form-control" name="address"/>
  </div>
  <div class="col-xs-2">
    用户名 :
  </div>
<div class="col-xs-3">
  <input type="text" placeholder="请输入详细地址" class="form-control" name="address"/>
</div>
  </div>
<br />


  <div class="row">
    <div class="col-xs-2">
      电话 :
    </div>
  <div class="col-xs-3">
    <input type="text" placeholder="请输入姓名" class="form-control" name="student_name"/>
  </div>
  <div class="col-xs-2">
     QQ :
  </div>
  <div class="col-xs-3">
  <input type="text" placeholder="请输入移动电话(重要)" class="form-control" name="phone"/>
  </div>
  </div>
  <br />

  <div class="row">
    <div class="col-xs-2">
      宿舍 :
    </div>
  <div class="col-xs-3">
    <input type="text" placeholder="请输入姓名" class="form-control" name="student_name"/>
  </div>
  <div class="col-xs-2">
     班级 :
  </div>
  <div class="col-xs-3">
  <input type="text" placeholder="请输入移动电话(重要)" class="form-control" name="phone"/>
  </div>
  </div><br />
  <div class="row">
    <div class="col-xs-2">
      家乡 :
    </div>
  <div class="col-xs-6">
    <input type="text" placeholder="请输入姓名" class="form-control" name="student_name"/>
  </div>
  </div>


  <br />
  <div class="row">
  <div class="col-xs-6">
    <button class="btn btn-embossed btn-primary" type="submit">
    确认更新
  </button>
  </div>
  </div>
<br /><br />


</div>

<script src="/dist/js/vendor/jquery.min.js"></script>
<script src="/dist/js/vendor/video.js"></script>
<script src="/dist/js/flat-ui.min.js"></script>
</body>
</html>
