<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dist/css/flat-ui.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico">

<link rel="stylesheet" type="text/css" href="/simditor/styles/simditor.css" />
<script src="/dist/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="/simditor/node_modules/simple-module/lib/module.js"></script>
<script type="text/javascript" src="/simditor/node_modules/simple-hotkeys/lib/hotkeys.js"></script>
<script type="text/javascript" src="/simditor/node_modules/simple-uploader/lib/uploader.js"></script>
<script type="text/javascript" src="/simditor/lib/simditor.js"></script>
<script>
(function() {
  $(function() {
    var editor = new Simditor({
   textarea: $('#editor'),
   placeholder: '请在这里书写...',
   defaultImage: '/1.jpg'
});
  });
console.log("init editor");
}).call(this);
</script>


  </head>
  <body>
<div class="container">

<h1>在线维护与报修中心</h1>
<hr />
<h3>欢迎 , <div class="btn-group">
  <a class="btn btn-primary active" href="/user/index">修网任务<span class="fui-time"></span></a>
  <a class="btn btn-primary" href="/chat">进入支持<span class="fui-photo"></span></a>
  <a class="btn btn-primary" href="/user/tips/write">记录技巧<span class="fui-heart"></span></a>
  <a class="btn btn-primary " href="/user/setting">设置<span class="fui-eye"></span></a>
  <a class="btn btn-primary " href="../logout">退出系统<span class="fui-eye"></span></a>
                </div></h3>
<br />
<hr />
  <h3> <span class="fui-new"></span> 记录技巧</h3><br />
<form method="post" action="/user/tips/save">
  <div class="row">
    <div class="col-xs-2">
      填写标题 :
    </div>
  <div class="col-xs-10">
    <input type="text" placeholder="请输入标题" class="form-control" name="title" />
  </div>
  </div>

<br />
<textarea id="editor" autofocus name="content"> </textarea>
<br />
<button class="btn btn-embossed btn-primary" type="submit">
保存
</button>

</form>
</div>
<br /><br /><br />

<script src="/dist/js/vendor/video.js"></script>
<script src="/dist/js/flat-ui.min.js"></script>
</body>
</html>
